<footer class="footer">
  
  <small>
    <strong>Created by: <a href="http://www.vincethewalker.com/"><span class="footer">Vincent Walker</span></a></strong>
   </small>
     
    <nav>
      <ul>
        <li><%= link_to "About", "#" %></li>
      </ul>
    </nav>
   
 </footer>